[Unit]
Description=Alerter service
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/home/vagrant/alerter/alerter.sh
WorkingDirectory=/home/vagrant/alerter/

[Install]
WantedBy=multi-user.target
