[Unit]
Description=Credentials Sniffer service
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/home/vagrant/credential-sniffer/sniffer.sh
WorkingDirectory=/home/vagrant/credential-sniffer/

[Install]
WantedBy=multi-user.target