[Unit]
Description=Alerter service

[Service]
ExecStart=/home/umbox/alerter/alerter.sh
WorkingDirectory=/home/umbox/alerter/

[Install]
WantedBy=multi-user.target
